/*
  Article.scss
*/

@use "../../styles.scss";

body {
  background: styles.$background_color;
}
.Article {

  max-width: 600px;
  margin: auto;
  padding: 25px 25px 100px 25px;
  background: styles.$article_color;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;

  .article-headline {
    @include styles.fontSize(42px);
    font-weight: 300;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  section {
    margin: 5px 0;
  }
  
}
